
<div class ="form-group">
Name<input  class="form-control" type="text" placeholder="enter data" [(ngModel)]="name">
age<input class="form-control" type="text" placeholder="enter data" [(ngModel)]="age">
gender<input class="form-control" type="text" placeholder="enter data" [(ngModel)]="gender">
adress<input class="form-control" type="text" placeholder="enter data" [(ngModel)]="adress">
</div>
<button  class="btn btn-primary"(click)="onAdd()">Add</button>
<button class="btn btn-primary" (click)="onRead()"> Read</button>
<button class="btn btn-primary" (click)="onReadall()">Show all</button>
<button class="btn btn-primary" (click)="OnDelete(name)"> Delete</button>
<button class="btn btn-primary" (click)="onUpdate()"> Update</button>
<button class="btn btn-primary" (click)="onclear()">Clear field</button>

<div *ngIf="succes1"><h2>The all users Are:</h2></div>
<div *ngFor="let x of list">
    <p>{{x.name}}: {{x.age}}</p>
</div>