/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

 .mat-radio-outer-circle {
          border-color: white;
      
    }
    
    .mat-radio-inner-circle {
        background-color: #3f51b5;
    }
    
   .mat-radio-ripple .mat-ripple-element {
        background-color: rgba(#3f51b5, 0.26);
    }

    /** Overrides underline color **/
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-underline,

.my-form-field.mat-form-field-appearance-legacy.mat-focused
    .mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
    .mat-form-field-ripple {
    background-color: white;
}

/** Overrides label color **/
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-label,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
    .mat-form-field-label {
    color: white;
}

/** Overrides caret & text color **/
.my-form-field.mat-form-field-appearance-legacy .mat-input-element {
    caret-color: white;
  color: white;
}